html{
    font-size: 62,5%;
}
.patrick{
    position: relative;
    height: 200px;
    margin: 0;
    padding: 0;
    width: 350px;
    border-radius: 5px;
    
}


.name{
width: 178.06px;
height: 25.81px;
left: 186px;
top: 382px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 30px;
text-align: center;
color: #FFFFFF;


}
.profession{
    /* position: absolute; */
width: 178.06px;
height: 14.19px;
left: 186px;
top: 414px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12.8px;
line-height: 15px;
text-align: center;
color: #F3BF99;
}
.website{
    /* position: absolute; */
width: 228px;
height: 16px;
left: 161px;
top: 437px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12.24px;
line-height: 150%;
text-align: center;
color: #F5F5F5;
}
.email{
    display: flex;
justify-content: center;
align-items: center;
/* position: absolute; */
width: 247px;
height: 34px;
/* left: 150px; */
top: 467px;
background: #FFFFFF;
border-radius: 6px;

}
.head{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}